#Ignore local settings
*.local
local/*
#Ignore compiled autocomplete dump
zsh/.zcompdump*
#Ignore zsh history
zsh/.zhistory
#Ignore vim plugins except Vundle
vim/bundle/*
!vim/bundle/Vundle.vim
#Ignore sublime cache/logs/machine specific content.
sublime/*.cache
sublime/*.last-run
sublime/*.user-ca-bundle
sublime/*.merged-ca-bundle
sublime/*.log
sublime/Color\ Highlighter/ColorPicker*

