#Ignore local settings
*.local
local/*
#Ignore compiled autocomplete dump
zsh/.zcompdump*
zsh/.zcompcache*
#Ignore zsh history
zsh/.zhistory
#Ignore vim plugins except Vundle
vim/bundle/*
!vim/bundle/Vundle.vim
#Ignore sublime cache/logs/machine specific content.
sublime/*
!sublime/install.sh
!sublime/*.sublime-settings
#Ignore Tmux plugins except tpm
tmux/plugins/*
!tmux/plugins/tpm
