#Ignore local settings
*.local
local/*
#Ignore zplug and changes to that folder
zsh/zplug
zsh/.zprezto
#Ignore compiled autocomplete dump
zsh/.zcompdump*
zsh/.zcompcache*
#Ignore zsh history
zsh/.zhistory
# Ignore compiled files
zsh/**/*.zwc
#Same as above for mini zsh
zsh-mini/.zcompdump*
zsh-mini/.zcompcache*
zsh-mini/.zcomp*
zsh-mini/.zhistory
zsh-mini/.zdirs
zsh-mini/.zprezto
#Same as above for root zsh
zsh-root/.zcomp*
zsh-root/.zsh_history
zsh-root/.zdirs
#Ignore vim plugins except Vundle
vim/bundle/*
!vim/bundle/Vundle.vim
#Ignore sublime cache/logs/machine specific content.
sublime/*
!sublime/install.sh
!sublime/*.sublime-settings
#Ignore Tmux plugins except tpm
tmux/plugins/*
!tmux/plugins/tpm
#Ignore Atom cache/apm cache
atom/.apm
atom/blob-store
atom/compile-cache
atom/.node-gyp
atom/packages
atom/recovery
atom/storage
atom/nohup.out
atom/.npm
atom/electron
#Ignore Guake gconf "mtime" file.
guake/style/%gconf.xml
#Ignore powerline symlinks
powerline/powerline.zsh
#Ignore local machine specific files
*.local
