"*":
  "atom-beautify":
    general:
      analytics: false
    html:
      indent_inner_html: true
      indent_size: 2
      preserve_newlines: false
  "atom-material-ui":
    colors:
      abaseColor: "#aad875"
      accentColor: "#6f8853"
      genAccent: true
      paintCursor: true
      predefinedColor: "Green"
    fonts:
      fontSize: 15
    tabs:
      compactTabs: true
      noTabMinWidth: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "autoclose-html":
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "p"
      "img"
      "link"
      "td"
    ]
  "autocomplete-modules":
    babelPluginModuleResolver: true
    webpack: true
  "autocomplete-python":
    pythonPaths: "/usr/bin/python3"
    showTooltips: true
    useKite: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
      "linter-rubocop"
      "linter-shellcheck"
      "django-templates"
      "docblockr"
      "react"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "spacegray-atom-dark-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "591fa0b3-d088-2a1c-192c-23abc3bd6aa5"
  linter:
    errorPanelHeight: 23
    lintOnFly: false
    showErrorTabLine: true
  "linter-flake8":
    executablePath: "/home/ruben/.local/bin/flake8"
    ignoreErrorCodes: [
      "D100"
      "D101"
      "D102"
      "D103"
      "D104"
      "D105"
      "E501"
      "E402"
    ]
    maxLineLength: 100
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    autoReveal: true
  welcome:
    showOnStartup: false
