"*":
  "atom-beautify":
    general:
      analytics: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "editorconfig"
      "metrics"
    ]
    themes: [
      "nucleus-dark-ui"
      "dracula-theme"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 13
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "591fa0b3-d088-2a1c-192c-23abc3bd6aa5"
  linter:
    errorPanelHeight: 23
    lintOnFly: false
  "linter-flake8":
    executablePath: "/home/ruben/.local/bin/flake8"
    ignoreErrorCodes: [
      "D100"
      "D101"
      "D102"
      "D103"
      "D104"
      "D105"
      "E501"
      "E402"
    ]
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
